@font-face {
    font-family: 'LexendDeca';
    src: url("../fonts/LexendDeca/LexendDeca-Regular.ttf") format("opentype");
}

@font-face {
    font-family: 'LexendDecaLight';
    src: url("../fonts/LexendDeca/LexendDeca-Light.ttf") format("opentype");
}

@font-face {
    font-family: "Tilda Sans"; 
    src: url("//db.onlinewebfonts.com/t/30aaff8bab312adfd29944c9cfb18158.eot"); 
    src: url("//db.onlinewebfonts.com/t/30aaff8bab312adfd29944c9cfb18158.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/30aaff8bab312adfd29944c9cfb18158.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/30aaff8bab312adfd29944c9cfb18158.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/30aaff8bab312adfd29944c9cfb18158.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/30aaff8bab312adfd29944c9cfb18158.svg#Tilda Sans") format("svg"); }

body{
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}

nav{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(241, 241, 241);
    padding: 10px 30px;
    z-index: 1;
    align-items: center;
    display: flex;
    position: relative;
    transition: all 0.3s ease;
}

input {outline:none;}

.links {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    margin: 10px 0;
}

.links li {
    display: inline;
    margin-left: 20%;
}

.link {
    font-style: normal;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    letter-spacing: 2px;
}

.link:hover {
    text-decoration: underline;
}

.lexend{
    font-family: "Tilda Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.lexend-light{
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
}

.logo{
    width: 40px;
    display: block;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

router-link{
    cursor: pointer;
}


.logo img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: block;
}

.icons {
    list-style: none;
    display: inline;
    position: absolute;
    width: 20%;
    right: 5%;
}

.icons li{
    float: right;
    margin-left: 15%;
    cursor: pointer;
}

.icons li img {
    height: 20px;
    display: inline-block;
}

.secondNav{
    display: none;
}

.under-line{
    width: auto;
    height: 3px;
    background-color: #000000;
}


@media screen and (max-width: 1000px) {
    .firstNav{
        display: none;
    }

    .secondNav {
        display: flex;
    }

    .logo{
        width: 35px;
        margin: auto;
        cursor: pointer;
    }

    .logo img {
        position: relative;
        transform: none;
    }

    .menu {
        width: 20px;
        height: 16px;
        position: relative;
        cursor: pointer;
    }

    .f-line-menu{
        background-color: #000000;
        position: absolute;
        height: 3px;
        width: 20px;
        top: 0%;
        transition: all 0.3s ease;
    }

    .s-line-menu{
        background-color: #000000;
        position: absolute;
        height: 3px;
        width: 20px;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s ease;
    }

    .t-line-menu{
        background-color: #000000;
        position: absolute;
        height: 3px;
        width: 20px;
        bottom: 0%;
        transition: all 0.3s ease;
    }

    
    .f-line-menu-active{
        background-color: #000000;
        position: absolute;
        height: 3px;
        width: 20px;
        top: 0%;
        transform: rotate(-45deg);
        transition: all 0.3s ease;
    }

    .s-line-menu-active{
        background-color: #000000;
        position: absolute;
        height: 3px;
        width: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        transition: all 0.3s ease;
    }

    .t-line-menu-active{
        background-color: #000000;
        position: absolute;
        height: 3px;
        width: 20px;
        bottom: 0%;
        transform: rotate(45deg);
        transition: all 0.3s ease;
    }

    .nav-cart{
        cursor: pointer;
    }

    .nav-cart-dis{
        display: none;
    }

}

.secondNav-100{
    display: flex;
    transition: all 0.3s ease;
}

.login-wrapper{
    width: 30%;
    min-height: 50vh;
    margin: auto;
    margin-top: 20vh;
}

.login-input{
    font-family: "LexendDeca", Arial, Helvetica, sans-serif;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 14px;
    padding-bottom: 10px;
    margin-top: 50px;
    background-color: #f2f2f2;
}

.login-button{
    font-family: "LexendDeca", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 50%;
    margin-top: 70px;
    border-radius: 20px;
    border: none;
    width: 20%;
    padding: 10px;
    background-color: rgb(255, 195, 86);
    transform: translate(-50%, 0);
}

.sign-up-text{
    font-family: "LexendDeca", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.registration-block-center{
    margin-top: 10px;
    text-align: center;
}

.sign-up-button{
    font-family: "LexendDeca", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 50%;
    margin-top: 70px;
    border-radius: 20px;
    border: none;
    width: 50%;
    padding: 10px;
    background-color: rgb(255, 195, 86);
    transform: translate(-50%, 0);
    cursor: pointer;
}

.sign-up-wrapper{
    width: 30%;
    min-height: 50vh;
    margin-top: 5vh;
    float: left;
    margin-left: 13%;
    margin-bottom: 5vh;
}

.sign-up-input{
    font-family: "LexendDeca", Arial, Helvetica, sans-serif;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 14px;
    padding-bottom: 10px;
    margin-top: 30px;
    background-color: #f2f2f2;
}

.home-title{
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: rgb(64, 59, 59);
}

.wrapper{
    width: 80%;
    margin: auto;
}

.carts-home{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 5vw;
}

.cart-home{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}


.cart-home img{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.cart-home h2{
    font-family: "Tilda Sans", Arial, sans-serif;
    font-weight: 100;
}

.cart-home p{
    font-family: "Tilda Sans", Arial, sans-serif;
    font-weight: 100;
}

.content-cart{
    padding: 20px;
    font-size: 14px;
}

.cart-home-more{
    border: 1px solid black;
    padding: 10px 20px;
    font-family: "Tilda Sans", Arial, sans-serif;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease;
}


.cart-home-more:hover{
    background-color: #acacac;
    transition: all 0.4s ease;
}

.cart-home-add{
    border: 1px solid black;
    padding: 10px 20px;
    font-family: "Tilda Sans", Arial, sans-serif;
    background-color: #403b3b;
    color: #ffffff;
    cursor: pointer;
    margin-right: 2%;
    transition: all 0.4s ease;
}


.cart-home-add:hover{
    background-color: #f3f3f3;
    transition: all 0.4s ease;
    color: #000000;
}

.book-wrapper{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4%;
}

.book-wrapper img{
    width: 100%;
    display: block;
}

.book-content h1{
    font-family: "Tilda Sans", Arial, sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.book-content p{
    font-family: "Tilda Sans", Arial, sans-serif;
}


.content-section {
    margin: 1em;
}


.section-header {
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: rgb(64, 59, 59);
    text-align: center;
}


.cart-header {
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    color: rgb(64, 59, 59);
    font-weight: bold;
    font-size: 1em;
}

span.cart-header {
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    color: rgb(64, 59, 59);
    font-weight: bold;
    font-size: 1em;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    color: #333;
}

.cart-quantity {
    width: 35%;
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    color: rgb(64, 59, 59);
    font-weight: 400;
    font-size: 1em;
}

.cart-item-title {
    margin-left: .5em;
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    color: rgb(64, 59, 59);
    font-weight: 400;
    font-size: 1em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}


.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgb(64, 59, 59);
    font-size: 1.5em;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.cart-page-wrapper {
    width: 80%;
    margin: auto;
}

.btn-purchase{
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(64, 59, 59);
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #403b3b;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn-purchase:hover{
    background-color: #f3f3f3;
    transition: all 0.4s ease;
    color: #000000;
}

.btn-div{
    width: 100%;
    text-align: center;
}


.btn-delete{
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(64, 59, 59);
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #403b3b;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease;
    margin: auto;
}

.btn-delete:hover{
    background-color: #530e0e;
    transition: all 0.4s ease;
}

.modal-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.modal-purchase {
    background-color: #ffffff;
    width: 30%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
}

.modal-purchase p{
    font-family: "Tilda Sans", Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modal-title{
    font-family: "Tilda Sans", Arial, sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
}


.modal-purchase form {
    text-align: center;
}

.modal-purchase input {
    width: 70%;
    height: 30px;
    margin-bottom: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
}

.modal-purchase button {
    font-family: "LexendDecaLight", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(64, 59, 59);
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #403b3b;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.modal-purchase button:hover {
    background-color: #acacac;
    color: #000000;
}

.modal-container img {
    width: 5%;
    float: right;
}


.cart-row-min-content h3{
    font-family: "Tilda Sans", Arial, sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.cart-row-min-content p{
    font-family: "Tilda Sans", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.cart-min{
    display: none;
}

@media screen and (max-width: 1000px) {
    .carts-home{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 700px) {
    .carts-home{
        grid-template-columns: 1fr;
    }

    .cart-row-min-content h3{
        font-family: "Tilda Sans", Arial, sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

    .cart-row-min-content p{
        font-family: "Tilda Sans", Arial, sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

}


.cart-row-min {
    display: none;
}

.cart-row-min img{
    width: 100%;
    border-radius: 5px;
}


@media screen and (max-width: 800px) {
    .carts-home{
        grid-template-columns: 1fr;
    }

        
    .home-title{
        font-size: 30px;
        font-weight: 100;
    }

    .book-wrapper{
        grid-template-columns: 1fr;
    }

    .cart-row{
        display: none;
    }

    .cart-row-min {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5%;
    }

    .cart-min{
        display: block;
    }
}
